.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #f0f4ff;
  font-family: "Poppins", sans-serif;
  gap: 3rem;
}

.hero-content {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  text-align: left;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #1a237e;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.hero-btn {
  background-color: #3949ab;
  color: white;
  padding: 0.75rem 10rem;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #283593;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.hero-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
}

.highlight {
  color: #ff5722;
  font-weight: 800;
  text-shadow: 0 0 5px rgba(255, 87, 34, 0.3);
}

.emphasize {
  color: #00796b;
  font-weight: 600;
  background-color: #d7f6ef;
  padding: 2px 6px;
  border-radius: 5px;
}

.grade {
  color: #3f51b5;
  font-weight: bold;
  text-decoration: underline;
  background: rgba(208, 226, 255, 0.4);
  padding: 2px 4px;
  border-radius: 4px;
}
.child-word {
  color: #d81b60;
  font-weight: 700;
  /* background-color: rgba(255, 205, 230, 0.3); */
  padding: 2px 4px;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
